* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f5f5f5;
  padding: 2rem 4rem;
  min-height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  column-gap: 24px;
  margin-top: 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}
.search-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-wrapper input[type='search']{
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
 
}
#add-book {
  padding: 8px;
  border-radius: 8px;
  border: none;
  background-color: #0f4c75;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 16px;
}

#add-book:hover {
  background-color: #54afec;
  color: #0f4c75;
}

.bookshelf {
  border: 2px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 8px;
  padding: 8px;
  background-color: beige;
  border-radius: 8px;
}
.item-container {
  margin-bottom: 10px;
}
li {
  list-style: none;
}

.list-book {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

li > .item-title {
  border: 1px solid black;
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 1rem
}
.item-other {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  width: 100%;
}
.item-other > p {
  font-size: 1rem;
  font-weight: 700;
}
.item-other > small {
  font-size: small;
  font-weight: 600;
  color: grey;
}
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;

}

.input-container {
  margin-bottom: 15px;
}

form > .input-container > label {
  display: block;
  margin-bottom: 5px;
}

.input-container  input[type="text"],
.input-container  input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.check-button {
  width: 40px;
  height: 40px;
  background: url("../img/check-outline.svg");
  background-size: contain;
  margin-left: auto;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
}

.check-button:hover {
  background: url("../img/check-outline.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.trash-button {
  width: 40px;
  height: 40px;
  background: url("../img/trash-outline.svg");
  background-size: contain;
  margin-left: 16px;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
}

.trash-button:hover {
  background: url("../img/trash-fill.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.undo-button {
  width: 40px;
  height: 40px;
  background: url("../img/undo-ouline.svg");
  background-size: contain;
  margin-left: auto;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
}

.undo-button:hover {
  background: url("../img/undo-ouline.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.check-button:focus,
.trash-button {
  outline: none;
}

.show {
    width: 250px;
    height: 50px;
    position: fixed;
    right: 10px;
    top: 50px;
    border-radius: 8px;
    transition: opacity 0.5s ease-in;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}
.item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toast-message{
    text-align: center;
    font-size: medium;
    color: white;
    font-weight: 500;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    row-gap: 2rem;
  }
  form > .input-container > label{
    font-size: 14px;
  }
  .search-wrapper{
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .search-wrapper input[type='search']{
    width: 100%;
  }
}